.🦠 {
    background: #6a3;
}

.💀 {
    background: #aaa;
}

.😊 {
    background: #f8a;
}

.📅 {
    background: #d55;
}

.💉 {
    background: #ddd;
}

.☝️ {
    background: #f78;
}

.✌️ {
    background: #f9a;
}

.🤟 {
    background: #fa4;
}