on: 
  workflow_dispatch:
  push: 
    paths:
      - '**.yml'
  pull_request:
  schedule:
    - cron: '0 */1 * * *'
jobs:
  fetch:
    uses: ./.github/workflows/Fetch.yml
    with:
      which: '[ { "text": "vaccination", "emoji": "游눌" } , { "text": "case", "emoji": "游" } ]'
  badge:
    needs: [fetch]
    uses: ./.github/workflows/Badge.yml
    with:
      prev: '[ "fetch" ]'
      which: '[ { "text": "vaccination", "emoji": "游눌" } , { "text": "case", "emoji": "游" } ]'
  plain:
    needs: [fetch,badge]
    uses: ./.github/workflows/Plain.yml
    with:
      prev: '[ "fetch" ]'
      which: '[ { "text": "vaccination", "emoji": "游눌" } , { "text": "case", "emoji": "游" } ]'
  plain-publish:
    needs: [plain]
    uses: ./.github/workflows/PlainPublish.yml
    with:
      prev: '[ "plain" ]'
      which: '[ { "text": "vaccination", "emoji": "游눌" } , { "text": "case", "emoji": "游" } ]'
  slack:
    needs: [plain]
    uses: ./.github/workflows/Slack.yml
    with:
      prev: '[ "plain" ]'
      day: '[ "today" ]'
      which: '[ "vaccination", "case" ]'
    secrets:
      SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
      SLACK_TODAY: ${{ secrets.SLACK_TODAY }}
  tweet:
    needs: [plain]
    uses: ./.github/workflows/Tweet.yml
    with:
      prev: '[ "plain" ]'
      day: '[ "today" ]'
      which: '[ "vaccination", "case" ]'
    secrets:
      TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
      TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
      TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
      TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
